//COLORS
$black: #000000;
$white: #FFFFFF;
$white1: #ECECEC;
$white2: #F8F8F8;
$gray1: #BABABA;
$gray2: #6E6E6E;
$gray3: #292929;
$gray4: #29323F;
$gray5: #333333;
$gray6:#797979;
$gray7: #73767C;
$primery: #44DCC1;




//FONTS
$font-1: 'Saira', sans-serif;
$font-2: 'Arimo', sans-serif;
$font-3: 'Inter', sans-serif;
$font-4: 'Rubik', sans-serif;
$base-font-size: 10px;